<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/form.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>Cadastro</h1>

            <div class="return">
                <a href="../../index.html" class="btn">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </a>
            </div>
        </div>

        <form action="POST">
            <input type="text" name="name" id="name" placeholder="Nome">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="text" name="password" id="password" placeholder="Senha">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar senha">
            <input type="submit" value="Cardastrar-se">
        </form>

        <div class="register">
            <span>Já possui um cadastro? <a href="login.html">Entrar</a></span>
        </div>
    </div>
</body>
</html>