body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

h1 {
    font-size: 5em;
    margin-bottom: 1em;
    color: rgb(224, 24, 64);
}

div {
    font-size: 2em;
    text-align: center;
    margin-bottom: 3em;
    font-weight: 500;
}

a {
    background: white;
    font-weight: 500;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 8px;
    border: 2px solid rgb(219, 219, 219);
    outline: 0;
}

a{
    color: black;
}


a:hover {
    background: rgb(224, 24, 64);
    border: 2px solid rgb(224, 24, 64);
    color: white;
    transition: 400ms;
    cursor: pointer;
}