body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(206, 70, 70) 50%, white 50%);
}

.container {
    background: rgb(255, 255, 255);
    padding: 1em 2em;
    width: 40%;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgb(97, 97, 97);
    min-height: 400px;
}

.container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em auto 2.5em auto;
}

.container .top h1 {
    color: rgb(224, 24, 64);
}

.container .top .return {
    font-size: 1.5em;
}

.container .error-login {
    padding: 10px;
    width: 100%;
    color: white;
    background:rgb(224, 24, 64);
    text-align: center;
    margin-bottom: 2em;
    border-radius: 8px;
}

.container form {
    margin: 0 auto;
}

.container input,
.submitBtn  {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 2px solid rgb(219, 219, 219);
    outline: 0;
}

.container #password {
    margin-bottom: 0;
}

#password-box {
    position: relative;
    margin-bottom: 1.5em;
}

#password-box input {
    padding-right: 3em;
}

#password-box img {
    position: absolute;
    cursor: pointer;
    top: 1em;
    right: 1em;
}

#password-error-box {
    color: rgb(92, 92, 92);
    font-size: 1em;
    min-height: 20px;
    margin: 5px;
}

.forgot-my-password {
    font-size: .9em;
    font-style: italic;
    color: rgb(70, 70, 70);
    opacity: .8;
    
}

.container input:not(:last-child),
#password-error-box {
    margin-bottom: 1.5em;
}

.container input::placeholder {
    font-weight: 500;
    text-transform: capitalize;
}

.container .submitBtn {
    font-weight: 500;
    text-align: center;
}

.container .submitBtn:hover {
    background: rgb(224, 24, 64);
    border: 2px solid rgb(224, 24, 64);
    color: white;
    transition: 400ms;
    cursor: pointer;
}

.container input[type="checkbox"] {
    width: auto;
    position: relative;
    visibility: hidden;
    cursor: pointer;
}

.container input[type='checkbox']:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -3px;
    left: 0;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color: white;
    visibility: visible;
}

.container input[type='checkbox']:checked:after {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -1px;
    left: 6px;
    visibility: visible;
}

.container label {
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
    color: rgb(107, 107, 107);
}

/* Teste Erro */

.error {
    border: 2px solid rgb(224, 24, 64) !important; 
}

.error::placeholder {
    color: rgb(224, 24, 64);
    font-size: .9em;
}

.register {
    margin: 1em 0;
    text-align: center;
}

.register span a {
    color: rgb(75, 75, 75);
}

.register span a:hover {
    color: rgb(224, 24, 64);
    transition: 400ms;
    text-decoration: underline;
}

.btn-error{
    color: rgb(255, 255, 255);
}

.btn-error:hover{
    color: rgb(221, 221, 221);
    transition: 400ms;
}

@media only screen and (max-width: 901px) {
    .container {
        width: 70%;
    }
}

@media only screen and (max-width: 506px) {
    body {
        display: block;
    }

    .container {
        height: 100vh;
        width: 100%;
        padding: 1em 1.5em;
    }

    .container .top {
        margin-bottom: 3.5em;
    }

    .container input  {
        width: 100%;
        padding: 15px 10px;
        font-size: 1em;
    }

    .register {
        margin-top: 1.5em;
        font-size: 1.1em;
    }
}