.add {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.add .left{
    margin: 1em;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    background: rgb(70, 99, 206);
    border: 2px solid rgb(46, 82, 214);
    color: white;
    font-size: 1.1em;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 2px 5px rgb(77, 77, 77);
    cursor: pointer;
}

.add .left:hover {
    background: rgb(32, 69, 202);
    border: 2px solid rgb(32, 69, 202);
    transition: 400ms;
}

.add .right{
    margin: 1em;
    box-shadow: 0 2px 5px rgb(77, 77, 77);
}

.add .right form{
    width: 100%;
    display: flex;
    height: 100%;
}

.add .right form input,
.add .right form select{
    padding: 3px;
    outline: 0;
    font-weight: 500;
}

.add .right form select{
    width: 60px;
}

.add .right form #typeSearch,
.add .right form #textSearch{
    color: white;
    background: rgb(70, 99, 206);
    border: 2px solid rgb(46, 82, 214);
}

.add .right form #textSearch::placeholder{
    color: rgb(223, 223, 223);
}

.add .right form label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
    border: 2px solid rgba(49, 49, 49, 0.52);
}

.add .right form label:hover{
    transition: 400ms;
    background: white;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
}

.container .box {
    background: white;
    height: 300px;
    width: 300px;
    margin: 1em 1em;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(77, 77, 77);
}

.container .box .title {
    text-align: center;
    font-size: 1.2em;
    padding: 10px 0;
    background: black;
    color: white;
    border-radius: 8px 8px 0 0;
}

.container .box .title .trash{
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

.container .box .quantity,
.container .box .type {
    background: rgb(236, 236, 236);
    border-radius: 4em;
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
    padding: 3px 0;
}

.container .box .data div + span {
    text-align: center;
    margin-top: 5px;
    height: 20px;
}

.container .data {
    padding: 5px;
}

.container span {
    display: block;
}

.container .box .edit {
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
}

.container .box .edit {
    color: black;
    display: block;
    border-radius: 0 0 8px 8px;
    border: 2px solid rgb(219, 219, 219);
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    cursor: pointer;
}

.container .box .edit:hover {
    background: rgb(224, 24, 64); 
    border: 2px solid rgb(224, 24, 64);
    color: white;
    transition: 400ms;
}

#void{
    padding: 0 1em;
    font-size: 2em;
    font-weight: bold;
    margin: 300px auto;
    text-align: center;
}

/* Create */

#shadow {
    background: rgba(0, 0, 0, 0.397);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
}

#create, 
#edit,
#exclude {
    position: fixed;
    left: 30%;
    margin-left: -50px;
    width: 50%;
    background: rgb(255, 255, 255);
    top: 15%;
    z-index: 99999;
    padding: 2em;
    border-radius: 8px;
}

#create .top,
#edit .top,
#exclude .top {
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    width: 80%;
    margin: .5em auto;
}

#create .top h3,
#edit .top h3,
#exclude .top h3 {
    color: rgb(224, 24, 64);
}

#create form,
#edit form,
#exclude form {
    width: 80%;
    margin: 1em auto;
}

#create form input,
#edit form input,
#exclude form input {
    width: 100%;
}

#create input,
#edit input,
#exclude input,
.submitBtn {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 2px solid rgb(219, 219, 219);
    outline: 0;
}

#exclude input:disabled {
    background: rgb(226, 226, 226);
}

#create input:not(:last-child),
#edit input:not(:last-child),
#exclude input:not(:last-child) {
    margin-bottom: 1.5em;
}

#create .submitBtn,
#edit .submitBtn,
#exclude .submitBtn {
    font-weight: 500;
    text-align: center;
}

#create .submitBtn:hover,
#edit .submitBtn:hover,
#exclude .submitBtn:hover {
    background: rgb(224, 24, 64);
    border: 2px solid rgb(224, 24, 64);
    color: white;
    transition: 400ms;
    cursor: pointer;
}

/* Error */

.error {
    border: 2px solid rgb(224, 24, 64) !important; 
}

.error::placeholder {
    color: rgb(224, 24, 64);
    font-size: .9em;
}

@media only screen and (max-width: 750px){
    #create,
    #edit,
    #exclude {
        left: 10%;
        width: 90%;
        padding: 2em 1em;
        margin-left: -30px;
    }    

    #create .top,
    #edit .top,
    #exclude .top {
        width: 90%;
    }
    
    #create form,
    #edit form,
    #exclude form {
        width: 90%;
    }
}

@media only screen and (max-width: 508px) {
    .add{
        display: block;
    }

    .add .left {
        margin: 1em 0;
        padding: 15px;
        width: 100%;
        font-size: 1.2em;
    }

    .add .right{
        margin: 1em 0;
    }

    .add .right form input{
        padding: 15px;
    }

    .add .right form select{
        width: 50%;
    }

    .container {
        display: block;
    }

    .container .box {
        width: 100%;
        margin: 2em 0;
    }

    #menu {
        width: 100% 
    }

    #create,
    #edit,
    #exclude {
        width: 100%;
        height: 100%;
        margin-left: .1em;
        padding: 1em 1.5em;
        top: 0;
        left: 0;
        border-radius: 0;
    }   
}