.add {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.add a {
    margin: 1em;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    background: rgb(70, 99, 206);
    border: 2px solid rgb(46, 82, 214);
    color: white;
    font-size: 1.1em;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 2px 5px rgb(77, 77, 77);
}

.add a:hover {
    background: rgb(32, 69, 202);
    border: 2px solid rgb(32, 69, 202);
    transition: 400ms;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
}

.container .box {
    background: white;
    height: 250px;
    width: 250px;
    margin: 1em 1em;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(77, 77, 77);
}

.container .box .title {
    text-align: center;
    font-size: 1.3em;
    padding: 10px 0;
    background: black;
    color: white;
    border-radius: 8px 8px 0 0;
}

.container .box .quantity,
.container .box .type {
    background: rgb(236, 236, 236);
    border-radius: 4em;
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
    padding: 3px 0;
}

.container .box .data div + span {
    text-align: center;
    margin-top: 5px;
    height: 20px;
}

.container .data {
    padding: 5px;
}

.container span {
    display: block;
}

.container .box .edit {
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
}

.container .box .edit a {
    color: black;
    display: block;
    border-radius: 0 0 8px 8px;
    border: 2px solid rgb(219, 219, 219);
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
}

.container .box .edit a:hover {
    background: rgb(224, 24, 64); 
    border: 2px solid rgb(224, 24, 64);
    color: white;
    transition: 400ms;
}

@media only screen and (max-width: 508px) {
    .add a {
        margin: 1em 0;
        padding: 15px;
        width: 100%;
        font-size: 1.2em;
    }

    .container {
        display: block;
    }

    .container .box {
        width: 100%;
        margin: 2em 0;
    }

    #menu {
        width: 100% 
    }
}