@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

/* CSS page Index */

body {
    background: white;
}

#hero {
    background: url("../images/images2.jpg") no-repeat fixed center;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero span {
    text-transform: uppercase;
    font-size: 4em;
    width: 90%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
}

#about {
    padding: 5em;
    padding-bottom: 10em;
}

#about .content {
    display: flex;
}

#about .content .left,
#about .content .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .content .left p {
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(51, 51, 51);
    padding-right: 2em;
}

h2 {
    text-align: center;
    padding: 3em 0;
    font-size: 2em;
    font-weight: 700;
    color: rgb(17, 17, 17);
    text-shadow: 1px 1px 2px black;
}

.container .slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10em;
}

.container .slider .box {
    background: rgb(197, 197, 197);
    color: rgb(75, 75, 75);
    font-weight: 500;
    width: 23vw;
    height: 23vw;
    border-radius: 20px;
    text-align: center; 
    box-shadow: 4px 4px 2px rgb(112, 112, 112)
}

.container .slider .box p {
    text-align: left;
    font-size: 1.3vw;
    padding: 10px 1em;
}

.container .slider .box img {
    width: 100px;
    border-radius: 8rem;
    border: 2px solid black;
    margin-top: -50px;
}

@media only screen and (max-width: 1015px){

    #about {
        padding: 2em;
    }
    
    #about .content {
        display: block;
    }
    
    #about .content .left {
        margin-bottom: 3em;
        width: 100%;
    }
    
    #about .content .left p {
        font-size: 1.5em;
        padding-right: 0;
    }
    
    #about .content .right {
        display: none;
    }

    h2 {
        padding: 2em 0;
    }

    .container .slider {
        display: block;
        padding-bottom: 3em;
    }

    .container .slider .box {
        width: 80vw;
        height: auto;
        margin: 5em auto;
    }

    .container .slider .box p {
        font-size: 2.5vw;
        padding: 50px 2em;
    }
}

@media only screen and (max-width: 560px) {    
    #hero span {
        text-transform: uppercase;
        font-size: 2.5em;
        width: 100%;
        letter-spacing: 2px;
        font-weight: 500;
        padding: 0 .5em;
    }

    .container .slider .box  {
        padding-bottom: 10px;
        width: 90vw;
    }

    .container .slider .box p {
        font-size: 1.1em;
        padding: 30px 1em;
    }
}