.container {
    width: 90vw;
    min-height: 100vh;
    margin: 2em auto;
    display: flex;
    box-shadow: 0 5px 15px rgba(77, 77, 77, 0.555);
    background: white;
}

.container .left {
    width: 35%;
    background: rgb(218, 218, 218);
    padding: 10px 20px;
}

.container .left .welcome {
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .left .statics .field {
    text-align: center;
    display: block;
    background: rgb(236, 236, 236);
    border-radius: 4em;
    font-weight: 500;
    margin-top: 20px;
    padding: 3px 0;
}

.container .left .statics .field + span {
    display: block;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 5px 0;
}

.container .right {
    width: 65%;
    background: rgb(255, 255, 255);
    padding: 6em 0;
}

.container .right .top {
    width: 70%;
    margin: 0 auto;
    color: rgb(224, 24, 64);
}

.container .right form {
    margin-top: 1em;
}

.container input,
.submitBtn  {
    width: 70%;
    padding: 15px 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 2px solid rgb(219, 219, 219);
    outline: 0;
    display: block;
    margin: 0 auto;
}

.container input:not(:last-child) {
    margin-bottom: 1.5em;
}

.container input::placeholder {
    font-weight: 500;
    text-transform: capitalize;
}

.container .submitBtn {
    font-weight: 500;
    text-align: center;
}

.container .submitBtn:hover {
    background: rgb(224, 24, 64);
    border: 2px solid rgb(224, 24, 64);
    color: white;
    transition: 400ms;
    cursor: pointer;
}

/* Error */

.error {
    border: 2px solid rgb(224, 24, 64) !important; 
}

.error::placeholder {
    color: rgb(224, 24, 64);
    font-size: .9em;
}

.responsive {
    visibility: hidden;
}

@media only screen and (max-width: 767px) {
    .container {
        display: block;
        width: 100vw;
        margin: 0;
    }

    .container .left {
        width: 100%;
        padding: 30px 5px;
    }

    .container .left .welcome {
        margin-bottom: 1em;
    }

    .container .left .statics .field {
        margin-top: 0;
        width: 30%;
        font-size: .8em;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .left .statics #statics-field {
        display: flex;
        justify-content: space-between;
    }
    
    .container .left .statics #statics-field .full-screen {
        display: none;
    }

    .responsive {
        visibility: unset;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .responsive span {
        width: 30%;
        text-align: center;
        font-size: .8em;
    }

    .container .right {
        width: 100%;
        height: 100%;
        padding: 2em 1.5em;
    }

    .container .right .top {
        width: 100%;
    }

    .container input,
    .submitBtn {
        width: 100%;
    }
}